/* screen - what-is-an-idl */

.what-is-an-idl {
  align-items: flex-start;
  background-color: var(--black-haze);
  border: 0px none;
  display: flex;
  height: 4022px;
  overflow: hidden;
  width: 1440px;
}

.what-is-an-idl .overlap-group5 {
  height: 5308px;
  margin-left: -2px;
  margin-top: -80px;
  position: relative;
  width: 1682px;
}

.what-is-an-idl .member {
  height: 4734px;
  left: 0;
  position: absolute;
  top: 574px;
  width: 1446px;
}

.what-is-an-idl .overlap-group-container {
  align-items: flex-start;
  background-image: url(../img/rectangle-29.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  gap: 890px;
  left: 2px;
  min-height: 3528px;
  padding: 146px 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.what-is-an-idl .overlap-group4 {
  height: 665px;
  position: relative;
  width: 1440px;
}

.what-is-an-idl .best-offer {
  align-items: flex-end;
  display: flex;
  height: 665px;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1440px;
}

.what-is-an-idl .overlap-group-1 {
  align-items: center;
  background-color: var(--black-haze);
  display: flex;
  height: 870px;
  margin-bottom: -203.9px;
  min-width: 1442px;
  padding: 136px 151px;
}

.what-is-an-idl .buttons-primary-righ {
  align-items: flex-start;
  background-color: var(--new-car);
  border-radius: 4px;
  display: flex;
  height: 56px;
  margin-top: 90.1px;
  overflow: hidden;
  padding: 17px 16px;
  width: 220px;
}

.what-is-an-idl .content-1 {
  align-items: flex-end;
  display: flex;
  height: 21px;
  overflow: hidden;
  padding: 0 47px;
  width: 188px;
}

.what-is-an-idl .label-1 {
  line-height: normal;
  margin-bottom: -1px;
  min-height: 22px;
  min-width: 94px;
}

.what-is-an-idl .number1-trusted {
  height: 48px;
  margin-left: 78px;
  margin-top: 264.1px;
  object-fit: cover;
  width: 258px;
}

.what-is-an-idl .flex-col {
  align-self: flex-start;
  flex-direction: column;
  gap: 50px;
  margin-left: 14px;
  min-height: 455px;
  width: 570px;
}

.what-is-an-idl .overlap-group1 {
  height: 355px;
  position: relative;
  width: 570px;
}

.what-is-an-idl .image-here {
  height: 296px;
  left: 108px;
  position: absolute;
  top: 59px;
  width: 462px;
}

.what-is-an-idl .booklet-1png {
  height: 281px;
  left: 0;
  position: absolute;
  top: 0;
  width: 528px;
}

.what-is-an-idl .trustpilot {
  height: 50px;
  margin-left: 14px;
  object-fit: cover;
  width: 258px;
}

.what-is-an-idl .what-is-the-digital-idp {
  height: 56px;
  left: 150px;
  letter-spacing: 0;
  line-height: 56px;
  position: absolute;
  top: 138px;
  white-space: nowrap;
}

.what-is-an-idl .overlap-group3 {
  align-items: center;
  background-image: url(../img/rectangle-1.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 360px;
  padding: 25px 114px;
  width: 1440px;
}

.what-is-an-idl .group-101 {
  align-items: flex-start;
  display: flex;
  gap: 140px;
  margin-right: 18.0px;
  margin-top: 43px;
  min-width: 984px;
}

.what-is-an-idl .div-mui-grid-root {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  min-width: 211px;
}

.what-is-an-idl .svg {
  align-self: flex-end;
  height: 27px;
  margin-bottom: -0.42px;
  width: 27px;
}

.what-is-an-idl .div-mui-grid-root-2 {
  min-width: 309px;
  padding: 0 0.1px;
}

.what-is-an-idl .flexible-schedule {
  letter-spacing: 0;
  line-height: 28px;
  margin-right: 22.0px;
  margin-top: 98px;
  white-space: nowrap;
  width: 610px;
}

.what-is-an-idl .divowl-stage {
  align-self: flex-end;
  height: 114px;
  width: 1190px;
}

.what-is-an-idl .the-digital-internat {
  height: 192px;
  left: 152px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 364px;
  width: 491px;
}

.what-is-an-idl .rectangle-1 {
  background-color: var(--black-haze);
  height: 877px;
  left: 1px;
  position: absolute;
  top: 2634px;
  width: 1442px;
}

.what-is-an-idl .dot {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  height: 12px;
  left: 688px;
  min-width: 68px;
  position: absolute;
  top: 3315px;
}

.what-is-an-idl .oval-1 {
  background-color: var(--green);
  border-radius: 6px;
  height: 12px;
  width: 12px;
}

.what-is-an-idl .oval {
  background-color: var(--alto);
  border-radius: 6px;
  height: 12px;
  width: 12px;
}

.what-is-an-idl .group-128 {
  align-items: flex-end;
  display: flex;
  gap: 28px;
  height: 368px;
  left: 152px;
  min-width: 1530px;
  position: absolute;
  top: 2891px;
}

.what-is-an-idl .overlap-group3-1 {
  height: 434px;
  margin-bottom: -66px;
  margin-left: -40px;
  position: relative;
  width: 790px;
}

.what-is-an-idl .overlap-group-2 {
  background-image: url(../img/rectangle-31.svg);
  background-size: 100% 100%;
  height: 242px;
  left: 0;
  position: absolute;
  top: 192px;
  width: 440px;
}

.what-is-an-idl .rectangle {
  height: 162px;
  left: 40px;
  position: absolute;
  top: 14px;
  width: 360px;
}

.what-is-an-idl .corporate-rental {
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26px;
  width: 312px;
}

.what-is-an-idl .this-section-sometim {
  left: 65px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 67px;
  width: 312px;
}

.what-is-an-idl .image-here-1 {
  left: 40px;
  width: 360px;
}

.what-is-an-idl .image-here-2 {
  left: 430px;
  width: 360px;
}

.what-is-an-idl .overlap-group2 {
  height: 434px;
  margin-bottom: -66px;
  position: relative;
  width: 729px;
}

.what-is-an-idl .image-here-3 {
  left: 0;
  width: 360px;
}

.what-is-an-idl .overlap-group1-1 {
  height: 242px;
  left: 352px;
  position: absolute;
  top: 192px;
  width: 377px;
}

.what-is-an-idl .rectangle-2 {
  height: 242px;
  left: 0;
  position: absolute;
  top: 0;
  width: 160px;
}

.what-is-an-idl .rectangle-3 {
  height: 162px;
  left: 40px;
  position: absolute;
  top: 14px;
  width: 120px;
}

.what-is-an-idl .image-here-4 {
  left: 392px;
  width: 120px;
}

.what-is-an-idl .overlap-group-3 {
  background-image: url(../img/rectangle-35.svg);
  background-size: 100% 100%;
  height: 242px;
  left: 502px;
  position: absolute;
  top: 3083px;
  width: 440px;
}

.what-is-an-idl .overlap-group-4 {
  background-image: url(../img/rectangle-37.svg);
  background-size: 100% 100%;
  height: 242px;
  left: 892px;
  position: absolute;
  top: 3083px;
  width: 440px;
}

.what-is-an-idl .best-offer-this-mont {
  left: 444px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2724px;
  white-space: nowrap;
  width: 556px;
}

.what-is-an-idl .here-are-some-great {
  color: #808483;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 272px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 2799px;
  white-space: nowrap;
  width: 900px;
}

.what-is-an-idl .group-117 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 152px;
  min-height: 695px;
  position: absolute;
  top: 1475px;
  width: 1139px;
}

.what-is-an-idl .best-offer-this-mont-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1.0px;
  min-height: 56px;
  text-align: center;
  white-space: nowrap;
  width: 556px;
}

.what-is-an-idl .forms-input-left-icon-large-filled-1 {
  align-items: flex-start;
  border-radius: 20px;
  display: flex;
  margin-right: 2.0px;
  margin-top: 48px;
  overflow: hidden;
  width: 1137px;
}

.what-is-an-idl .overlap-group-5 {
  border-radius: 8px;
  height: 139px;
  position: relative;
  width: 1137px;
}

.what-is-an-idl .base {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 26px 40px #0000000b;
  display: flex;
  height: 139px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1137px;
}

.what-is-an-idl .base-1 {
  background-color: var(--white);
  border-radius: 8px;
  height: 139px;
  width: 1137px;
}

.what-is-an-idl .item-1 {
  gap: 788px;
}

.what-is-an-idl .text-1 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -2px;
  min-height: 30px;
  min-width: 270px;
}

.what-is-an-idl .path {
  height: 9px;
  margin-bottom: 0.68px;
  width: 15px;
}

.what-is-an-idl .text-2 {
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 63px;
  width: 1070px;
}

.what-is-an-idl .forms-input-left-icon-large-filled {
  align-items: flex-end;
  border-radius: 20px;
  display: flex;
  height: 81px;
  margin-right: 2.0px;
  margin-top: 32px;
  overflow: hidden;
  width: 1137px;
}

.what-is-an-idl .overlap-group {
  border-radius: 8px;
  height: 139px;
  margin-bottom: -58px;
  position: relative;
  width: 1137px;
}

.what-is-an-idl .item-2 {
  gap: 636px;
}

.what-is-an-idl .text-3 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -2px;
  min-height: 30px;
  min-width: 422px;
}

.what-is-an-idl .item {
  align-items: center;
  display: flex;
  gap: 628px;
  height: 28px;
  left: 28px;
  overflow: hidden;
  padding: 0 1px;
  position: absolute;
  top: 25px;
  width: 1080px;
}

.what-is-an-idl .text {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -2px;
  min-height: 30px;
  min-width: 430px;
}

.what-is-an-idl .item-3 {
  gap: 540px;
}

.what-is-an-idl .text-4 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -2px;
  min-height: 30px;
  min-width: 518px;
}

.what-is-an-idl .footer {
  align-items: flex-end;
  background-color: transparent;
  background-image: url(../img/base-3.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: row;
  height: 592px;
  justify-content: flex-start;
  left: 2px;
  mix-blend-mode: normal;
  padding: 250px 508px;
  position: absolute;
  top: 3510px;
  width: 1440px;
}

.what-is-an-idl .buttons-primary-righ-1 {
  background-color: var(--new-car);
  left: 612px;
  position: absolute;
  top: 3367px;
}

.what-is-an-idl .content {
  align-items: flex-end;
  display: flex;
  height: 21px;
  justify-content: center;
  overflow: hidden;
  width: 188px;
}

.what-is-an-idl .label {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -1px;
  min-height: 22px;
  min-width: 192px;
  text-align: center;
}

.what-is-an-idl .base-2 {
  height: 640px;
  left: 2px;
  position: absolute;
  top: 80px;
  width: 1440px;
}

.what-is-an-idl .car-for-rent-in-your {
  left: 152px;
  letter-spacing: 0;
  line-height: 80px;
  position: absolute;
  top: 228px;
  width: 662px;
}

.what-is-an-idl .text-5 {
  height: 65px;
  left: 152px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 407px;
  width: 472px;
}

.what-is-an-idl .separator {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--outer-space-2);
  height: 1px;
  left: 66px;
  position: absolute;
  top: 3980px;
  width: 1285px;
}

.what-is-an-idl .privacy-policy {
  left: 885px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  text-align: right;
  text-decoration: underline;
  top: 4018px;
  white-space: nowrap;
  width: 175px;
}

.what-is-an-idl .terms-y-conditions {
  left: 1104px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  text-align: right;
  text-decoration: underline;
  top: 4018px;
  white-space: nowrap;
  width: 245px;
}

.what-is-an-idl .image-10 {
  height: 82px;
  left: 66px;
  object-fit: cover;
  position: absolute;
  top: 3653px;
  width: 379px;
}

.what-is-an-idl .p {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  left: 66px;
  min-height: 38px;
  position: absolute;
  top: 3774px;
  width: 210px;
}

.what-is-an-idl .flex-row {
  gap: 7px;
  margin-top: 2px;
  min-width: 360px;
}

.what-is-an-idl .text-13 {
  height: 16px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
  width: 12px;
}

.what-is-an-idl .p-1 {
  align-items: center;
  display: flex;
  gap: 12px;
  height: 19px;
  left: 66px;
  min-width: 325px;
  position: absolute;
  top: 3831px;
}

.what-is-an-idl .text-14 {
  height: 16px;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 1.0px;
  white-space: nowrap;
  width: 16px;
}

.what-is-an-idl .strong-select-language {
  height: 14px;
  left: 66px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 3871px;
  white-space: nowrap;
  width: 227px;
}

.what-is-an-idl .divswitcher {
  align-items: flex-start;
  display: flex;
  height: 32px;
  left: 66px;
  position: absolute;
  top: 3907px;
  width: 173px;
}

.what-is-an-idl .link {
  border: 1px solid;
  border-color: var(--celeste);
  height: 32px;
  min-width: 173px;
  position: relative;
}

.what-is-an-idl .we-process-applicati {
  height: 74px;
  left: 510px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 3666px;
  width: 274px;
}

.what-is-an-idl .start-your-application {
  height: 19px;
  left: 510px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-decoration: underline;
  top: 3876px;
  white-space: nowrap;
  width: 242px;
}

.what-is-an-idl .text-15 {
  height: 13px;
  left: 752px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 3880px;
  white-space: nowrap;
  width: 11px;
}

.what-is-an-idl .heading-2-quick-links {
  height: 18px;
  left: 852px;
  letter-spacing: 0.10px;
  line-height: 26px;
  position: absolute;
  top: 3669px;
  white-space: nowrap;
  width: 282px;
}

.what-is-an-idl .list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 852px;
  min-height: 134px;
  position: absolute;
  top: 3698px;
  width: 212px;
}

.what-is-an-idl .heading-2-resources {
  height: 18px;
  left: 1146px;
  letter-spacing: 0.10px;
  line-height: 26px;
  position: absolute;
  top: 3669px;
  white-space: nowrap;
  width: 203px;
}

.what-is-an-idl .list-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 1146px;
  min-height: 80px;
  position: absolute;
  top: 3698px;
  width: 206px;
}

.what-is-an-idl .copyright-2020-idl {
  height: 13px;
  left: 66px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 4028px;
  white-space: nowrap;
  width: 460px;
}

.what-is-an-idl .navbar {
  background-color: var(--black-haze);
  height: 148px;
  left: 152px;
  position: absolute;
  top: 0;
  width: 1140px;
}

.what-is-an-idl .group-106 {
  align-items: center;
  background-color: var(--new-car);
  border-radius: 4px;
  display: flex;
  height: 40px;
  left: 1101px;
  min-width: 167px;
  padding: 0 10px;
  position: absolute;
  top: 94px;
}

.what-is-an-idl .content-2 {
  align-items: flex-start;
  display: flex;
  height: 20px;
  justify-content: center;
  overflow: hidden;
  width: 147px;
}

.what-is-an-idl .label-2 {
  line-height: 20px;
  min-width: 149px;
  white-space: nowrap;
}

.what-is-an-idl .link-1 {
  align-items: flex-start;
  display: flex;
  gap: 32px;
  left: 400px;
  position: absolute;
  top: 100px;
  width: fit-content;
}

.what-is-an-idl .menu {
  height: 28px;
  min-width: 44px;
  position: relative;
}

.what-is-an-idl .link-2 {
  align-items: flex-start;
  display: flex;
  min-width: 44px;
}

.what-is-an-idl .content-3 {
  align-items: flex-start;
  display: flex;
  height: 28px;
  overflow: hidden;
  width: 44px;
}

.what-is-an-idl .reservation {
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.what-is-an-idl .menu-1 {
  min-width: 51.25px;
}

.what-is-an-idl .link-3 {
  align-items: flex-start;
  display: flex;
  min-width: 51px;
}

.what-is-an-idl .content-4 {
  align-items: flex-start;
  display: flex;
  height: 28px;
  overflow: hidden;
  width: 51px;
}

.what-is-an-idl .offers {
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.what-is-an-idl .menu-2 {
  min-width: 123.5px;
}

.what-is-an-idl .link-4 {
  align-items: flex-start;
  display: flex;
  min-width: 124px;
}

.what-is-an-idl .content-5 {
  align-items: flex-start;
  display: flex;
  height: 28px;
  width: 124px;
}

.what-is-an-idl .location {
  letter-spacing: 0;
  line-height: 28px;
  text-decoration: underline;
  white-space: nowrap;
}

.what-is-an-idl .menu-3 {
  min-width: 30px;
}

.what-is-an-idl .link-5 {
  align-items: flex-start;
  display: flex;
  min-width: 30px;
}

.what-is-an-idl .content-6 {
  align-items: flex-start;
  display: flex;
  height: 28px;
  overflow: hidden;
  width: 30px;
}

.what-is-an-idl .cars-services {
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.what-is-an-idl .menu-4 {
  min-width: 85px;
}

.what-is-an-idl .link-6 {
  align-items: flex-start;
  display: flex;
  min-width: 85px;
}

.what-is-an-idl .content-7 {
  align-items: flex-start;
  display: flex;
  height: 28px;
  width: 85px;
}

.what-is-an-idl .menu-5 {
  min-width: 157px;
}

.what-is-an-idl .link-7 {
  align-items: flex-start;
  display: flex;
  min-width: 157px;
}

.what-is-an-idl .content-8 {
  align-items: flex-start;
  display: flex;
  height: 28px;
  overflow: hidden;
  width: 157px;
}

.what-is-an-idl .link-logo {
  height: 38px;
  left: 168px;
  object-fit: cover;
  position: absolute;
  top: 95px;
  width: 182px;
}

.what-is-an-idl .buttons-primary-righ-2 {
  background-color: var(--new-car);
  left: 152px;
  position: absolute;
  top: 522px;
}

.what-is-an-idl .group-116 {
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px -4px 20px #0000000a , 0px 28px 32px #00000014;
  display: flex;
  gap: 151px;
  height: 107px;
  left: 152px;
  min-width: 1140px;
  padding: 0 51px;
  position: absolute;
  top: 666px;
}

.what-is-an-idl .overlap-group-6 {
  height: 46px;
  margin-bottom: 11.0px;
  position: relative;
  width: 620px;
}

.what-is-an-idl .text-6 {
  height: 46px;
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 0;
  width: 620px;
}

.what-is-an-idl .are-you-a-rental-or {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  width: 620px;
}

.what-is-an-idl .buttons-primary-righ-3 {
  background-color: var(--green);
  margin-top: 1.0px;
}

.what-is-an-idl .content-9 {
  align-items: flex-end;
  display: flex;
  height: 21px;
  overflow: hidden;
  padding: 0 15px;
  width: 188px;
}

.what-is-an-idl .label-3 {
  line-height: normal;
  margin-bottom: -1px;
  margin-left: 1px;
  min-height: 22px;
  min-width: 157px;
}

.what-is-an-idl .buttons-primary-righ-4 {
  align-items: flex-start;
  border-radius: 4px;
  display: flex;
  height: 56px;
  overflow: hidden;
  padding: 17px 16px;
  width: 220px;
}

.what-is-an-idl .div-mui-grid-root-3 {
  align-items: flex-start;
  display: flex;
  gap: 8px;
}

.what-is-an-idl .image-here-5 {
  height: 198px;
  position: absolute;
  top: 0;
}

.what-is-an-idl .item-4 {
  align-items: center;
  display: flex;
  height: 28px;
  left: 28px;
  overflow: hidden;
  padding: 0 1px;
  position: absolute;
  top: 25px;
  width: 1080px;
}

.what-is-an-idl .label-4 {
  letter-spacing: 0;
  text-align: center;
}

.what-is-an-idl .svg-3 {
  align-self: flex-end;
  height: 27px;
  margin-bottom: -0.42px;
  width: 27px;
}
